.popup {
    z-index: 999;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 454px;
    width: 100%;
    background-color: var(--zano-ui-popup-modal-color);
    border-radius: 10px;
    padding: 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            font-size: 16px;
            font-weight: 600;
        }

        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .xmark {
            width: 25px;
            height: 25px;

            svg {
                path {
                    transition: 0.3s all ease;

                    fill: var(--zano-ui-text-color);
                }

                &:hover {
                    path {
                        fill: var(--zano-ui-primary-color);
                    }
                }
            }
        }
    }

    &__body {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.wrapper {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--zano-ui-focus-off-bg);
}

@media screen and (max-width: 480px) {
    .popup {
        width: 95%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}