.footer {
    margin-top: auto;
    padding-top: 40px;
    margin-bottom: 16px;
    padding-inline: 20px;
    border-top: 1px solid var(--zano-ui-footer-border-color);

    &__wrapper {
        max-width: 1154px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__bottom {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copyright {
            font-size: 16px;
            font-weight: 400;
            color: var(--zano-ui-footer-selected-link);
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 10px;

            &__item {
                display: block;
                width: 36px;
                height: 36px;
                background-color: var(--zano-ui-social-bg-color);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: var(--zano-ui-social-bg-hover-color);
                }

                svg path {
                    fill: var(--zano-ui-social-icon-color);
                }
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        gap: 165px;

        &_item {
            &__links {
                display: grid;
                row-gap: 16px;
                column-gap: 50px;

                .link {
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--zano-ui-primary-color);
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &:hover {
                        color: var(--zano-ui-primary-hover-color);
                    }
                }

                &.grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    &__donation {
        max-width: 408px;

        &_content {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .donation {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                &__info {
                    min-width: 60px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .name {
                        color: var(--zano-ui-footer-selected-link);
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }

                &__address {
                    &_item {
                        word-break: break-all;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 140%;
                    }

                    .copy {
                        vertical-align: middle;
                        width: 14px;
                        height: 14px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        margin-left: 6px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}

.title {
    color: var(--zano-ui-footer-selected-link);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

@media screen and (max-width: 1060px) {
    .footer {
        &__content {
            flex-direction: column;
            gap: 24px;
        }

        &__links {
            gap: 50px;
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 560px) {
    .footer {
        &__bottom {
            margin-top: 40px;
            flex-direction: column-reverse;
            gap: 24px;
        }

        &__links_item__links {
            display: flex;
            flex-direction: column;
        }
    }
}